@import "normalize.css";

body, html {
  width: 100%;
  height: 100%;
}

body, div, span {
    box-sizing: border-box;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-shrink: 0;
    align-content: flex-start;

    border: 0 solid black;
    margin: 0;
    padding: 0;
}

body {
  background-color: #1f1e34;
  color: #fff;
  font-family: "Avenir Next", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica,
    Arial, "Lucida Grande", sans-serif;
  font-weight: 100;
}

h1 {
  font-size: 64px;
  font-weight: 100;
}

h2 {
  font-size: 48px;
  font-weight: 100;
}

p {
  font-size: 24px;
}

a {
  font-weight: 400;
  color: #FFF;
}

a:hover {
  font-weight: 400;
  color: #DADADA;
  text-decoration: none;
}

.section {
  /*background-color: rgba(255,0,0,0.3);*/
  border: 2px solid;
  width: 100%;
  height: 100%;
}

.section1 {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.react-logo {
  position: relative;
}

.nav-bar {
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.nav-bar > a{
  padding-left: 44px;
}

.section2, .section3, .section4{
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.iphone-demo {
    flex-basis: 0;
    flex-grow: 1;
    background-color: rgba(255,0,0,0.3);
    align-self: stretch;
    /*align-items: center;*/
    justify-content: center;
}

.feature-description {
    flex-basis: 0;
    flex-grow: 1;
    background-color: rgba(0,255,0,0.3);
    align-self: stretch;
    justify-content: center;
}


